USE [master]
GO
/****** Object:  Database [PTG]    Script Date: 04/07/2023 17:19:31 ******/
CREATE DATABASE [PTG] ON  PRIMARY 
( NAME = N'PTG', FILENAME = N'e:\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\PTG.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PTG_log', FILENAME = N'e:\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\PTG_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PTG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PTG]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [nvarchar](max) NULL,
	[uemail] [nvarchar](max) NULL,
	[umobile] [nvarchar](max) NULL,
	[upassword] [nvarchar](max) NULL,
	[usalt] [nvarchar](max) NOT NULL,
	[uimage] [nvarchar](max) NULL,
	[uaddress] [nvarchar](max) NULL,
	[ucity] [nvarchar](max) NULL,
	[ucountry] [nvarchar](max) NULL,
	[uzipcode] [nvarchar](max) NULL,
	[uabout] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[rts] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON
INSERT [dbo].[UserTable] ([uid], [uname], [uemail], [umobile], [upassword], [usalt], [uimage], [uaddress], [ucity], [ucountry], [uzipcode], [uabout], [status], [rts]) VALUES (22, N'om sharma', N'omsharma9367@gmail.com', N'', N'3116a9MSxLrVEEtQ5bOQeFOCsVsdiEI7HU4ug2Cymy8=', N'fTpEVhjz2zJvuEmd+sAvJg==', N'om sharma.jpeg', N'', N'', N'', N'', N'', N'1', N'Apr  6 2023  5:42PM')
SET IDENTITY_INSERT [dbo].[UserTable] OFF
/****** Object:  Table [dbo].[State_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_Table](
	[state_id] [int] NOT NULL,
	[state_title] [nvarchar](max) NOT NULL,
	[status] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[State_Table] ([state_id], [state_title], [status]) VALUES (0, N'', N'0')
INSERT [dbo].[State_Table] ([state_id], [state_title], [status]) VALUES (1, N'Andaman & Nicobar Islands', N'Active')
INSERT [dbo].[State_Table] ([state_id], [state_title], [status]) VALUES (2, N'Andhra Pradesh', N'Active')
/****** Object:  Table [dbo].[Review_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[pid] [int] NULL,
	[subpid] [int] NULL,
	[review] [nvarchar](max) NULL,
	[rating] [int] NULL,
	[status] [nvarchar](max) NULL,
	[rts] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Review_Table] ON
INSERT [dbo].[Review_Table] ([id], [userid], [pid], [subpid], [review], [rating], [status], [rts]) VALUES (7, 20, 6, 0, N'This place is the best i have ever visited !', 2, N'1', N'Mar 29 2023 12:35PM')
INSERT [dbo].[Review_Table] ([id], [userid], [pid], [subpid], [review], [rating], [status], [rts]) VALUES (8, 20, 4, 6, N'This place is the best i have ever visited !', 4, N'1', N'Mar 29 2023 12:37PM')
INSERT [dbo].[Review_Table] ([id], [userid], [pid], [subpid], [review], [rating], [status], [rts]) VALUES (9, 20, 6, 0, N'mount abu is best', 3, N'1', N'Mar 29 2023  6:50PM')
SET IDENTITY_INSERT [dbo].[Review_Table] OFF
/****** Object:  Table [dbo].[Place_Details_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place_Details_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[continentid] [int] NULL,
	[countryid] [int] NULL,
	[cid] [int] NULL,
	[sid] [int] NULL,
	[did] [int] NULL,
	[cityname] [nvarchar](max) NULL,
	[placeName] [nvarchar](max) NULL,
	[placeImage1] [nvarchar](max) NULL,
	[placeImage2] [nvarchar](max) NULL,
	[placeImage3] [nvarchar](max) NULL,
	[placeImage4] [nvarchar](max) NULL,
	[placeImage5] [nvarchar](max) NULL,
	[placeMap] [nvarchar](max) NULL,
	[placeIntro] [nvarchar](max) NULL,
	[placeDiscription] [nvarchar](max) NULL,
	[transport] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[rts] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Place_Details_Table] ON
SET IDENTITY_INSERT [dbo].[Place_Details_Table] OFF
/****** Object:  Table [dbo].[NearbyPlaces_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NearbyPlaces_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[continentid] [int] NULL,
	[countryid] [int] NULL,
	[sid] [int] NULL,
	[did] [int] NULL,
	[pid] [int] NULL,
	[cityname] [nvarchar](max) NULL,
	[categoryName] [nvarchar](max) NULL,
	[placeName] [nvarchar](max) NULL,
	[placeImage1] [nvarchar](max) NULL,
	[placeImage2] [nvarchar](max) NULL,
	[placeImage3] [nvarchar](max) NULL,
	[placeImage4] [nvarchar](max) NULL,
	[placeImage5] [nvarchar](max) NULL,
	[placeMap] [nvarchar](max) NULL,
	[placeIntro] [nvarchar](max) NULL,
	[placeDiscription] [nvarchar](max) NULL,
	[transport] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[rts] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NearbyPlaces_Table] ON
SET IDENTITY_INSERT [dbo].[NearbyPlaces_Table] OFF
/****** Object:  Table [dbo].[MainCategory]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](max) NULL,
	[categoryImage] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[rts] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MainCategory] ON
INSERT [dbo].[MainCategory] ([id], [categoryName], [categoryImage], [status], [rts]) VALUES (1, N'Hill Station', N'hill-station.jpeg', N'1', N'Feb 20 2023 12:01PM')
INSERT [dbo].[MainCategory] ([id], [categoryName], [categoryImage], [status], [rts]) VALUES (2, N'Beaches and Islands', N'beach.jpeg', N'1', N'Feb 20 2023  4:50PM')
INSERT [dbo].[MainCategory] ([id], [categoryName], [categoryImage], [status], [rts]) VALUES (3, N'Natural', N'natural-places.jpg', N'1', N'Feb 24 2023 10:52AM')
SET IDENTITY_INSERT [dbo].[MainCategory] OFF
/****** Object:  Table [dbo].[Hotel_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_Table](
	[hotel_id] [int] IDENTITY(1,1) NOT NULL,
	[continent_id] [int] NULL,
	[country_id] [int] NULL,
	[state_id] [int] NULL,
	[district_id] [int] NULL,
	[hotel_city] [nvarchar](max) NULL,
	[hotel_name] [nvarchar](max) NULL,
	[hotel_image] [nvarchar](max) NULL,
	[hotel_address] [nvarchar](max) NULL,
	[hotel_details] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[rts] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hotel_Table] ON
SET IDENTITY_INSERT [dbo].[Hotel_Table] OFF
/****** Object:  Table [dbo].[District_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District_Table](
	[districtid] [int] NOT NULL,
	[district_title] [nvarchar](max) NOT NULL,
	[state_id] [int] NULL,
	[district_status] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[districtid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[District_Table] ([districtid], [district_title], [state_id], [district_status]) VALUES (0, N'', NULL, N'Deactive')
INSERT [dbo].[District_Table] ([districtid], [district_title], [state_id], [district_status]) VALUES (36, N'Anantnag', 15, N'Active')
INSERT [dbo].[District_Table] ([districtid], [district_title], [state_id], [district_status]) VALUES (37, N'Bandipore', 15, N'Active')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
/****** Object:  Table [dbo].[Country_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country_Table](
	[id] [int] NOT NULL,
	[iso] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[nicename] [nvarchar](max) NULL,
	[iso3] [nvarchar](max) NULL,
	[numcode] [nvarchar](max) NULL,
	[country_code] [int] NULL,
	[status] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Country_Table] ([id], [iso], [name], [nicename], [iso3], [numcode], [country_code], [status]) VALUES (1, N'AF', N'AFGHANISTAN', N'Afghanistan', N'AFG', N'4', 93, NULL)
INSERT [dbo].[Country_Table] ([id], [iso], [name], [nicename], [iso3], [numcode], [country_code], [status]) VALUES (2, N'AL', N'ALBANIA', N'Albania', N'ALB', N'8', 355, NULL)
INSERT [dbo].[Country_Table] ([id], [iso], [name], [nicename], [iso3], [numcode], [country_code], [status]) VALUES (3, N'DZ', N'ALGERIA', N'Algeria', N'DZA', N'12', 213, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Continent_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continent_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[continent_name] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Continent_Table] ON
INSERT [dbo].[Continent_Table] ([id], [continent_name]) VALUES (1, N'Asia')
INSERT [dbo].[Continent_Table] ([id], [continent_name]) VALUES (2, N'Africa')
INSERT [dbo].[Continent_Table] ([id], [continent_name]) VALUES (3, N'North America')
SET IDENTITY_INSERT [dbo].[Continent_Table] OFF
/****** Object:  Table [dbo].[Blog_Table]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cid] [nvarchar](max) NULL,
	[pid] [nvarchar](max) NULL,
	[blogImage] [nvarchar](max) NULL,
	[blogAuthorId] [int] NULL,
	[blogAuthor] [nvarchar](max) NULL,
	[blogTitle] [nvarchar](max) NULL,
	[blogTags] [nvarchar](max) NULL,
	[blogDescription] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[rts] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog_Table] ON
SET IDENTITY_INSERT [dbo].[Blog_Table] OFF
/****** Object:  Table [dbo].[Admin_Login]    Script Date: 04/07/2023 17:19:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[UserPassword] [nvarchar](max) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin_Login] ON
INSERT [dbo].[Admin_Login] ([Id], [Username], [UserPassword]) VALUES (1, N'', N'')
INSERT [dbo].[Admin_Login] ([Id], [Username], [UserPassword]) VALUES (2, N'noadmin', N'admin')
SET IDENTITY_INSERT [dbo].[Admin_Login] OFF
/****** Object:  Default [DF__district__state___182C9B23]    Script Date: 04/07/2023 17:19:32 ******/
ALTER TABLE [dbo].[District_Table] ADD  DEFAULT (NULL) FOR [state_id]
GO
