<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>


  <connectionStrings>
	  <add name="PTGcnn" connectionString="Data Source=103.190.54.22,1533;Database=placetogo; user id=placetogo;password=Tech@#$%123;Max Pool Size=50000" />
	  <!--<add name="PTGcnn" connectionString="Data Source=DESKTOP-LKIDNNP;Initial Catalog=PlacesToGo;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>

  <system.web>
    <sessionState mode="InProc" timeout="60" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
